#ENTETES0 #TITRE #ENTETES1
<!-- ici headers supplementaires eventuels -->
#ENTETES2

<body>

<div class="letitre">
 <h2>#TITRE</h2>
 <h3>#SOUS_TITRE</h3>
</div>

<p class="lemessage">
#:MerciSignature:#
</p>

<div class="lelogiciel">
 #:phpPetitions:#
</div>

</body>
</html>
